<!DOCTYPE html>
<html ng-app="carpoolApp">
    <head>
        <title>Car Pooling</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta name="keywords" content="car pooling" />

        <link href="css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
        <link href="css/style.css" rel="stylesheet" type="text/css" media="all" />
        <!-- js -->
        <script src="js/jquery-1.11.1.min.js"></script>
        <!-- //js -->
        <link href="http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800" rel="stylesheet" type="text/css">
        <link href="http://fonts.googleapis.com/css?family=Archivo+Narrow:400,400italic,700,700italic" rel="stylesheet" type="text/css">
        
        <script src="js/angular.js"></script>
        <script src="js/angular-route.js"></script>
        <script src="js/carpool/carpool-app.js"></script>
    </head>

    <body>


        <!-- Registration -->
        <div class="container">
            <div class="content-box">

                <div class="row">
                    <div class="col-xs-12 col-sm-8 col-sm-offset-2">
                        <div class="login-box">
                            <h4 class="text-center">Post Ad</h4>
                            <h3 class="text-center text-primary">Post your ad!</h3>
                <div class="register" ng-controller="PoolReqCtrl">
                    <div style="color:red" id="errMsg"></div>
                    <div class="row">
                        <div class="col-xs-6">
                            <form>
                                <div class="row">
                                    <div class="col-xs-6"><input type="radio" ng-model="cpReq.type" value="required" checked class="mb-20" > Carpool Required</div>
                                    <div class="col-xs-6"><input type="radio" ng-model="cpReq.type" value="offered"> Carpool Offered</div>
                                </div>
                                 <div class="row">
                                    <div class="col-xs-12" ng-show="cpReq.type == 'required'">
                                        <input class="text-input" type="text" ng-model="cpReq.noOfSeatsRequired" placeholder="No Of Seats Required">
                                    </div>
                                    <div class="col-xs-12" ng-show="cpReq.type == 'offered'">
                                        <input class="text-input" type="text" ng-model="cpReq.noOfSeatsOffered" placeholder="No Of Seats Offered">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-6">
                                        <input class="text-input" type="text" ng-model="cpReq.frmAddr.addressLine1" placeholder="From Address Line1">
                                    </div>
                                    <div class="col-xs-6">
                                        <input class="text-input" type="text" ng-model="cpReq.frmAddr.addressLine2" placeholder="From Address Line2">
                                    </div>
                                </div>
                                <div class="row">
                                     <div class="col-xs-6">
                                        <input class="text-input" type="text" ng-model="cpReq.frmAddr.city" placeholder="From City">
                                    </div>
                                    <div class="col-xs-6">
                                        <input class="text-input" type="text" ng-model="cpReq.frmAddr.state" placeholder="From State">
                                    </div>
                                    <div class="col-xs-6">
                                        <input class="text-input" type="text" ng-model="cpReq.frmAddr.zip" placeholder="From Zip">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-6">
                                        <input class="text-input" type="text" ng-model="cpReq.toAddr.addressLine1" placeholder="To Address Line1">
                                    </div>
                                    <div class="col-xs-6">
                                        <input class="text-input" type="text" ng-model="cpReq.toAddr.addressLine2" placeholder="To Address Line2">
                                    </div>
                                </div>
                                <div class="row">
                                     <div class="col-xs-6">
                                        <input class="text-input" type="text" ng-model="cpReq.toAddr.city" placeholder="To City">
                                    </div>
                                    <div class="col-xs-6">
                                        <input class="text-input" type="text" ng-model="cpReq.toAddr.state" placeholder="To State">
                                    </div>
                                    <div class="col-xs-6">
                                        <input class="text-input" type="text" ng-model="cpReq.toAddr.zip" placeholder="To Zip">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-6"><input type="radio" ng-model="cpReq.pref" value="smoker" checked class="mb-20"> Smoker</div>
                                    <div class="col-xs-6"><input type="radio" ng-model="cpReq.pref" value="nonsmoker"> Non Smoker</div>
                                </div>
                                <div class="row"><div class="col-xs-12"><textarea class="textarea">Description...</textarea></div></div>
                                <div class="row">
                                    <div class="col-xs-6"><input type="submit" placeholder="Post" class="btn btn-primary" ng-click="postCarpoolReq()"></div>
                                    <div class="col-xs-6"><input type="submit" placeholder="Cancel" class="btn btn-primary"></div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <!-- for bootstrap working -->
        <script src="js/bootstrap.js">
        </script>
        <!-- //for bootstrap working -->
    </body>
</html>