<!-- Registration -->
<div class="container">
    <div class="content-box">

        <div class="row">
            <div class="col-xs-12 col-sm-8 col-sm-offset-2">
                <div class="reg-box">
                    <h4 class="text-center">New User</h4>
                    <h3 class="text-center text-primary">REGISTER HERE</h3>
                    <!--<p class="et">Register - Car Pooling is an all new way to commute. Search and book a shared ride to your office with a verified member of the community at  5 /KM in a single tap!</p>-->


                        <div style="color:red" id="errMsg"></div>
                        <div class="row">
                            <div class="col-xs-10 col-xs-offset-1">
                                <form class="forms" name="registrationForm" novalidate>
                                    <div class="row">
                                        <div class="col-xs-12">
                                            <input class="text-input" name="firstname" type="text" placeholder="First Name" ng-model="memberInfo.firstname" required>
                                            <p ng-show="registrationForm.firstname.$invalid && !registrationForm.firstname.$pristine" class="help-block">Your first name is required.</p>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-xs-12">
                                            <input class="text-input" name="lastname" type="text" placeholder="Last Name" ng-model="memberInfo.lastname">
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-xs-12">
                                            <input class="text-input" type="email" placeholder="Email" ng-model="memberInfo.email" name="email" required>
                                            <p ng-show="registrationForm.email.$error.required && !registrationForm.email.$pristine" class="help-block">Your email is required.</p>
                                            <p ng-show="registrationForm.email.$error.email && !registrationForm.email.$pristine && registrationForm.email.$touched" class="help-block">Enter a valid email.</p>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-xs-12">
                                            <input class="text-input" type="text" placeholder="Contact Number" ng-model="memberInfo.contactNumber" name="contactNumber">
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-xs-12">
                                            <input class="text-input" name="password" type="password" placeholder="Password" ng-model="memberInfo.password" required>
                                            <p ng-show="registrationForm.password.$error.required && !registrationForm.password.$pristine" class="help-block">Password is required.</p>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-xs-12">
                                            <input class="text-input" name="confirmPassword" type="password" placeholder="Confirm Password" ng-model="memberInfo.confirmPassword" required>
                                            <p ng-show="registrationForm.password.$valid && registrationForm.confirmPassword.$error.required && !registrationForm.confirmPassword.$pristine" class="help-block">Confirm your password.</p>
                                            <p ng-show="registrationForm.password.$viewValue != registrationForm.confirmPassword.$viewValue && !registrationForm.confirmPassword.$pristine && registrationForm.confirmPassword.$touched" class="help-block">Confirm password not matching.</p>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-xs-12 mb-20">
                                            <span>
                                                <input type="checkbox" name="termsAndPolicy" ng-model="memberInfo.termsAndPolicy" required>
                                            </span>
                                            <span>I agree to <a href="#">Terms of Service</a>  and <a href="#">Privacy Policy</a></span>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-xs-12">
                                            <input  type="submit" value="Register" class="btn btn-primary" ng-click="registerUser()" ng-disabled="registrationForm.$invalid || registrationForm.password.$viewValue != registrationForm.confirmPassword.$viewValue">
                                        </div>
                                    </div>
                                    <p class="text-block">or</p>
                                    <div class="row">
                                        <div class="col-xs-3">
                                            <a class="btn btn-block btn-social btn-sm btn-google">
                                                <i class="fa fa-google"></i>Sign In
                                            </a>
                                        </div>
                                        <div class="col-xs-3">
                                            <a class="btn btn-block btn-social btn-sm btn-facebook">
                                                <i class="fa fa-facebook"></i>Sign In
                                            </a>
                                            <!--<span class="fa fa-google-plus"></span>
                                            <input type="submit" value="Google Plus" class="btn btn-primary btn-danger">
                                            <span class="fa fa-facebook-plus"></span>
                                            <input type="submit" value="Facebook" class="btn btn-primary btn-fb">-->
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>


                </div>
            </div>


        </div>
    </div>
    
